<%= form_for [question.survey, question] do |f| %>
  <div class="field">
    <%= f.text_area :content, cols: 80, rows: 3 %>
  </div>
  <div class="action">
    <%= f.submit %>
    <%= link_to "Destroy Question", [question.survey, question],
                 method: :delete, class: "button_like",
                 data: { confirm: "Are you sure?" } %>
  </div>
<% end %>
