<%# form for editing the answers of the given survey and participant %>

<%= form_for(survey) do |f| %>
  <div class="survey_answers">
    <ol>
      <% survey.questions.each do |question| %>
        <li>
          <%= question.content %>
          <%= f.fields_for :questions, question do |q| %>
            <%= q.fields_for :answers, question.answers.find_or_initialize_by(participant_id: participant.id) do |a| %>
              <div class='survey_answer'><%= a.text_area :content %></div>
              <%= a.hidden_field :participant_id, :value => participant.id %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ol>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
