<h1><%= @survey.name %> Answers</h1>
<br>
<h4>
  By
  <%=
    select_tag :participant_select,
               options_from_collection_for_select(Participant.all, :id, :name),
               prompt: "Please select a participant",
               post_link: answers_of_survey_path(@survey)
  %>
</h4>

<div id="survey_answers_of_participant">
</div>

<br>

<%= link_to 'Back', surveys_path %>
