<p id="notice"><%= notice %></p>

<h1>Editing Survey</h1>

<%= render 'form', survey: @survey %>

<% unless @survey.questions.empty? %>
  <br>
  <h2> Questions </h2>
  <div class="survey_questions_edit">
    <ol>
      <% @survey.questions.each do |question| %>
        <li>
          <%= render 'questions/form', question: question %>
        </li>
      <% end %>
    </ol>
  </div>
<% end %>

<br>
<h2> Add question: </h2>
<div class="survey_questions_edit">
  <ul>
    <li>
      <%= render 'questions/form', question: @survey.questions.build %>
    </li>
  </ul>
</div>

<br>

<%= link_to 'Edit answers', answers_survey_path(@survey) %> |
<%= link_to 'Show', @survey %> |
<%= link_to 'Back', surveys_path %>
