<p id="notice"><%= notice %></p>

<h1>Surveys</h1>

<br>

<table>
  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= survey.name %> (<%= pluralize(survey.questions.count, 'question') %>) </td>
        <td><%= link_to 'Show', survey %></td>
        <td><%= link_to 'Edit', edit_survey_path(survey) %></td>
        <td><%= link_to 'Edit answers', answers_survey_path(survey) %></td>
        <td><%= link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Survey', new_survey_path %>
