<p id="notice"><%= notice %></p>

<h1>
  <strong>Survey:</strong>
  <%= @survey.name %>
</h1>

<% unless @questions.empty? %>
  <br>
  <div class="survey_questions">
    <h2>Questions</h2>
    <ol>
      <%= render @questions %>
    </ol>
  </div>

  <% unless @answers.empty? %>
    <br>
    <div class="survey_answers">
      <h2>Answers</h2>
      <% @answers.each do |pid, q| %>
        <h4>Answers by <%= Participant.find(pid).name %></h4>
        <ol>
          <% q.each do |qid, a| %>
            <li>
              <%= @questions.find(qid).content %>
              <div class='survey_answer'><%= a.content %></div>
            </li>
          <% end %>
        </ol>
      <% end %>
    </div>
  <% end %>
<% end %>

<br>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Edit answers', answers_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
