// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.survey_questions ol,
.survey_answers ol,
.survey_questions_edit ol,
.survey_questions_edit ul {
  padding-left: 0;
}

.survey_questions li,
.survey_answers li,
.survey_answer {
  padding-left: 10px;
  margin: 10px 0 20px 0;
}

.survey_answers h4
{
  padding-left: 10px;
  margin: 30px 0 10px 0;
}

.survey_questions_edit li {
  padding-left: 10px;
  margin: 40px 0 40px 0;
}

.survey_questions_edit textarea {
  vertical-align: text-top;
}
