<!DOCTYPE html>
<html>
  <head>
    <title>SurveyApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Surveys', surveys_path %>
    |
    <%= link_to 'Paricipants', participants_path %>

    <hr>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
